<style>
    .AdrenaSmallText {
        color: #FFF;
        font-family: Tahoma;
        font-size: 15px;
    }
</style>
<center>
    <img src="~/AdrenaPurchaseSourceCode.png" style="max-width:25%;max-height:25%" />
    <br /><br />
    <div class="AdrenaSmallText">
        If you are interested, contact me trough the methods
        <a href=@Url.Action("AdrenaSupport", "Support", null, Request.Url.Scheme)>HERE</a>
    </div>
</center>