<style>
    .AdrenaSmallText {
        color: #FFF;
        font-family: Tahoma;
        font-size: 15px;
    }
</style>
<div class="AdrenaSmallText">
    By using our service, you agree to all of the following practices:<br /><br />

    PRIVACY:<br /><br />

    The online service Adrena (www.adrena.cc) stores information about its members in order to track usage of the service, help users that may have forgotten their secret keys as well as find and remove users that misuse the service.
    <br /><br />
    This information starts being collected when a membership begins and gets deleted automatically once the membership ends (Usually after 30 days, unless the member gets their license renewed).
    <br /><br />
    The following information about a member is collected:
    <br />
    - The member's nickname (Currently, the nickname - it being the name of the user on the HackForums.net forum - is entered manually by an administrator when a membership license gets activated)
    <br />
    - The number of files the member has uploaded to the server (This being the number of files uploaded on the "MEMBER AREA" section of the website)
    <br /><br />
    The output files (The files that are created as a result of protecting a file uploaded by an user) are automatically deleted on a daily basis.
    <br /><br />
    TERMS OF SERVICE:
    <br /><br />
    Adrena is not responsible for any kind of damage that may occur as a result of a member using this online service.
    <br /><br />
    A member must not:
    <br />
    - Share their secret key with anybody
    <br />
    - Act as a proxy between another client and this service (i.e. Offer protection services to another person using their personal key)
    <br /> 
    - Upload any kind of malicious application to the server (i.e. Keyloggers, Trojans, etc.)
    <br />
    - Perform any other kind of acts that are illegal in their respective location (i.e. Country, State, etc.), the location of the server (Amsterdam, Netherlands) or the location of the person in charge of
    managing the state of both the Adrena software and website (Romania).
    <br /><br />
    Members not following the previous terms of service will be immediatelly banned from using the service.
    <br /><br />
    REFUND:
    <br /><br />
    A member is entitled to receive a full refund if the service goes offline or becomes unusable for any other reason (i.e. It is being upgraded) for more than 20% of the length, in days, of their membership (i.e.
    6 days out of the standard 30 day membership).
    <br /><br />
    However, the refund may only be rewarded trough the service PayPal, regardless of what method was originally used for payment by the member.
</div>